/*Start login box*/
.login-body {
    /*background-image: url(/layout/images/b4.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100%;
    height: 100%;*/
    color: #FFF;
}

.login-box h2 {
    margin-bottom: 30px;
}

.login-box ul {
    list-style-type: none;
    padding: 0;
}

.login-box ul li input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin: 15px 0 15px 0;
    height: 40px;
    border-radius: 0;
}

.login-box {
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 50px 50px 10px 50px;
    position: relative;
    top: 100px;
    text-decoration: none;
    border-radius: 16px;
}

.login-box .form .button-css {
    text-decoration: none;
    border-radius: 0;
}

.login-box .form .button-google {
    text-decoration: none;
    border-radius: 0;
    width: 100%;
}

.login-box .form .register {
    text-decoration: none;
    color: #c5c5c5;
    font-weight: bold;
}

.login-box .form .forget-password {
    text-decoration: none;
    color: #6a8ce3;
    font-weight: bold;
}

.login-box .form .register:hover {
    text-decoration: none;
    color: #FFF;
}

.login-box .form .forget-password:hover {
    text-decoration: none;
    color: #316df6;
}

.login-box .form .for-reg {
    padding: 0;
    margin: auto;
}

.login-box .form .row {
    padding: 0;
    margin: auto;
}

.login-box .form .container {
    padding: 0;
    margin: 0 0 10px 0;
}


